---
import InlineSvg from '../utils/InlineSvg.astro'
import NetlifyImage from '../utils/NetlifyImage.astro'
import SWAGscore from './SWAGscore.astro'
const { logo, name, slogan, menu } = Astro.props
---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10 items-center justify-around">
  <aside>
    {logo.src.endsWith('.svg') && <InlineSvg src={logo.src} alt={logo.alt} class="h-auto w-16" />}
    {!logo.src.endsWith('.svg') && <NetlifyImage src={logo.src} alt={logo.alt} class="h-auto w-16" />}
    <p>
      {name}
      <br />
      {slogan}
    </p>
  </aside>
  {
    menu.map((cat) => (
      <nav>
        <h6 class="footer-title">{cat.name}</h6>
        {cat.pages.map((item) => (
          <a class="link link-hover" href={item.slug}>
            {item.name}
          </a>
        ))}
      </nav>
    ))
  }

  <div>
    <aside>
      <div
        class="md:row-start-2 md:col-span-4 col-span-1 mt-2 body-sm flex flex-col gap-4 justify-self-center lg:justify-self-end">
        <SWAGscore />
      </div>
    </aside>
    <aside>
      <div
        class="md:row-start-2 md:col-span-4 col-span-1 mt-2 body-sm flex flex-col gap-4 justify-self-center lg:justify-self-end">
        <span class="mx-4">© {new Date().getFullYear()} huitquatre</span>
      </div>
    </aside>
  </div>
</footer>
