---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
const { blok } = Astro.props
---

<section class="container" {...storyblokEditable(blok)}>
  {
    blok.content && (
      <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <RichText content={blok.content} />
      </div>
    )
  }

  <div class="max-w-2xl mx-auto">
    <div class="hs-accordion-group">
      {
        blok.faq.map((item, idx) => (
          <div class="hs-accordion hs-accordion-active:bg-base-300 rounded-xl p-6" id={`faq-heading${idx}`}>
            <button
              class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-neutral-content rounded-lg transition hover:text-accent focus:outline-hidden focus:text-base-content"
              aria-expanded="false"
              aria-controls={`faq${idx}`}>
              {item.question}
              <svg
                class="hs-accordion-active:hidden block shrink-0 size-5 group-hover:text-neutral-content/75"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m6 9 6 6 6-6" />
              </svg>
              <svg
                class="hs-accordion-active:block hidden shrink-0 size-5 group-hover:text-neutral-content/75"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m18 15-6-6-6 6" />
              </svg>
            </button>
            <div
              id={`faq${idx}`}
              class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
              role="region"
              aria-labelledby={`faq-heading${idx}`}
              style="display:none;">
              <div class="text-base-content">
                <RichText content={item.reponse} />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
